/* You can add global styles to this file, and also import other style files */
* {
    /*border: 1px solid red;*/
    box-sizing: border-box;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 2s;
}

html, body {
    height: 100%;
}

body {
    padding: 1em;
    /*background-color: rgb(161, 73, 22);*/
    background: rgb(31,14,4);
    background: linear-gradient(0deg, rgba(31,14,4,1) 0%, rgba(119,52,13,1) 72%, rgba(134,74,17,1) 100%);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5.5em 1fr 1.5em;
    max-width: 1500px;
    margin: auto;
}